<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.human.cusDAO.IF_cusDAO">
	<insert id="put" parameterType="com.human.vo.cusVO">
		insert into map values (#{id},#{name},#{pwd})
	
	</insert>






</mapper>